[2022-07-01 01:17] dylanplayer opened #1 "Webpack Merge Improperly Imported"
```npm run build``` throws an error due to ```webpack.prod.js``` improperly importing merge from ```webpack-merge```. This is a common issue when upgrading from Webpack v4 to v5 where merge is no longer the default export, rather a named export.

[2022-07-01 01:49] dylanplayer opened #3 "Add Development Instructions"
Add basic development instructions to readme.

[2022-07-01 02:04] MitchellMarkGeorge commented on #3
Definitely agree. I've been trying to get it to a stable state but I'll tackle that next.

[2022-07-01 02:12] #3 closed

[2022-07-01 02:12] #1 closed

[2022-07-01 02:58] MitchellMarkGeorge opened #5 "Add eslint and prettier setup"
Currently using Prettier extension in VSCode, need to declare explicit code practices so more people can contribute

[2022-07-01 03:05] MitchellMarkGeorge opened #6 "Add virtualization"
Add support for virtualization so more tabs can be rendered efficiently

Refer to [this branch](https://github.com/MitchellMarkGeorge/TabButler/tree/virtualization) for an experimental implementation of virtualiation.

[2022-07-01 03:14] MitchellMarkGeorge opened #7 "Work on landing page"
Website to link users to closed beta and explain the extension
https://github.com/MitchellMarkGeorge/TabButlerWebsite

[2022-07-02 01:33] MitchellMarkGeorge opened #8 "Allow users to provide feedback and report bugs derectly to us"
Initially I wanted to have sentry running inside the extension, but using that can cause A LOT of issues on the host website (and could even report and track the host website too) so we might have to rely on the users and our own testing.

In the beta, users should be able to report any errors or bugs they find, and in the case of UI bugs, they should be able to provide screenshots and the website

[2022-07-02 18:50] MitchellMarkGeorge opened #9 "Create welcome page"
This is a page that is shown on install. This page should show users the shortcuts to trigger search and link to page to change them

[2022-07-02 22:50] MitchellMarkGeorge opened #10 "Inject extension on install"
When the user installs the extension, they should be able to use the extension almost immediately. The current implementation freezes the entire browser and is quite error prone, especially when there are a lot of tabs (probably 50-60+ tabs).

[2022-07-02 23:19] MitchellMarkGeorge commented on #10
The favored fix for this as of now would be to ask the user to reload the browser on install

[2022-07-04 18:14] MitchellMarkGeorge opened #11 "Add ability to mute/unmute, pin/unpin and close tabs from search modal"
For pin icons, use
- `AiFillPushpin` to show pinned
- `AiOutlinePushpin` to show unpined

For volume icons, use
- `HiVolumeOff` to show muted
- `HiVolumeUp` to show unmuted

For the close icon, use `RiCloseLIne`

You should only be able to mute a tab if it is currently making sounds (is audible)

[2022-07-04 18:37] MitchellMarkGeorge commented on #11
Another note, should we have the active tab in the list as well?

[2022-07-04 18:48] MitchellMarkGeorge commented on #11
Also, add some form of shorcut to do these actions

[2022-07-06 14:52] MitchellMarkGeorge opened #12 "Consider adding browser-wide search (not just current window)"
Right now the current implementation only queries tabs from the current window, but if we want to be able to search tabs browser-wide, there is a chance some things might become a bit slower (like the filtering and mapping in the background script)

[2022-07-06 15:05] MitchellMarkGeorge opened #13 "Consider switching to Preact"
Using Preact would minimize the bundle size and be more performant. This is not a priority right now but It is something to think about.

[2022-07-06 18:12] MitchellMarkGeorge opened #14 "React to tab updates"
If the url, pinned status, mute info, or favicon of a tab changes, the currently active and visible search component should update. Not only does this further the goal of keeping the search component in sync with the browser at all times, but when we add features like tab muting and pinning from the search component, this will automatically update the ui without us having to do any work on our sid

[2022-07-06 20:02] MitchellMarkGeorge opened #15 "Reconsider search modal toggle command"
Ctrl+shift+S is used in a lot of apps for save/save as. Might be better to choose something that is easy to remember and doesn't conflict with both the browser and the users experience/understanding

[2022-07-06 20:18] MitchellMarkGeorge opened #16 "Wrap Search component in React.memo"
With the page visibility data refresh, the Search component will still rerender if the data doesn't change. Using this should improve performance by only re-rendering the component when the prop values change. This might include using a deep equal algorithm for the received data

[2022-07-07 03:05] MitchellMarkGeorge commented on #12
This would definitely require virtualization to be implemented before going forward

[2022-07-07 03:10] MitchellMarkGeorge commented on #12
A suitable solution to this would be to have a toggle in the bottom bar that filters optionally filters to only tabs in the current window. This would require a state to track this and an additional `inCurrentWindow` field in the `TabData` interface

[2022-07-07 03:56] MitchellMarkGeorge opened #17 "Create seperate start and build scripts for Firefox in package.json"
Essentially have a set environment variable (`$BROWSER`) in the specific script and in the webpack config, depending on the value, load/copy a different maifest.json file

[2022-07-07 03:58] MitchellMarkGeorge commented on #9
Need to figure out if this should be bundled with the extension or should be hosted somewhere else

[2022-07-07 04:00] MitchellMarkGeorge commented on #5
Implemented this in [97ab15e](https://github.com/MitchellMarkGeorge/TabButler/commit/97ab15e8bf83c9f881d8d7f7dd90b752b1595d40)

[2022-07-07 04:00] #5 closed

[2022-07-07 15:26] MitchellMarkGeorge commented on #7
Will probably just use plain html and css

[2022-07-07 15:27] MitchellMarkGeorge commented on #15
We could use `ctrl/cmd` + `shift` + `space` for the Tab Seach

[2022-07-07 18:29] MitchellMarkGeorge opened #19 "Need a way to collect user feedback"

[2022-07-08 10:12] andrei-g-git opened #20 "Shortcut keys are overriden by Firefox's own shortcuts"
## Describe the bug

Pressing Ctrl+Shift+S or Ctrl+Shift+K when browsing in Firefox will trigger the firefox shortcuts eg. Ctrl+Shift+S will activate Firefox's screenshot feature and Ctrl+Shift+K  *usually* opens the web console (when the current tab has a github page it will open gihub's global commands modal).

## Steps to reproduce

* Open a web page in Firefox
* Press Ctrl+Shift+S
* This will

[2022-07-08 15:54] MitchellMarkGeorge commented on #20
This is related to #15. We will need to define shortcuts that don't conflict and are easy for users to use and remember. In chrome, you are allowed to change the shortcuts.

[2022-07-08 15:55] MitchellMarkGeorge commented on #20
Generally, the extension has not been tested on Firefox yet so thanks for getting that rolling!

[2022-07-08 16:29] MitchellMarkGeorge commented on #15
My thoughts right now are to use `ctrl/cmd` + `shift` + `space` to toggle the Tab Search and `ctrl/cmd` + `alt/option` + `space` to toggle the Action modal @andrei-g-git  @dylanplayer what do you guys think

[2022-07-08 20:36] dylanplayer commented on #15
Using `alt/option` + `space` might conflict with [Raycast](https://www.raycast.com/) if someone is using the default keybinds.

[2022-07-09 00:04] MitchellMarkGeorge commented on #15
From what I understand about chrome/browser commands [(here)](https://developer.chrome.com/docs/extensions/reference/commands/), they should be local to the browser alone. And if it does conflict, the user has the option to change the command. The goal of the command we have in the manifest.json is to basically act as a default for the user.

[2022-07-09 00:04] MitchellMarkGeorge commented on #15
There is a chance I am wrong tho, and I would be more than happy to experiment with it.

[2022-07-09 08:33] andrei-g-git commented on #15
``` ctrl + alt + a ``` doesn't seem to conflict with chrome, firefox or the big 3 OSs, although I'm not sure how other apps might behave when they are not in focus

https://defkey.com/what-means/ctrl-alt-a

[2022-07-09 10:49] andrei-g-git commented on #9
Could an options page that also lists the shortcuts on it's top side work? If you only have a few key combos and don't end up needing a large options UI they might fit cohesively on the same page.

[2022-07-09 23:31] MitchellMarkGeorge opened #21 "Code Refactoring"
**Is your feature request related to a problem? Please describe.**
It is pretty clear that while the main project is stable, the code itself needs a bit of refactoring and reorganization. Most of the code itself is in the right place, but things like the content script and the Search component could be written better

**Describe the solution you'd like**
To start, I would like to change the conten

[2022-07-09 23:57] MitchellMarkGeorge commented on #10
Closing this issue as doing so freezes the browser (especially in the case where there are a lot of tabs - part of the reason for the extension existing) and required an absurd amount of permissions to get working. The solution to this right now is to simply ask the user to reload their browser on install (in the welcome page shown on install). If a better solution arises, this issue can be revise

[2022-07-09 23:57] #10 closed

[2022-07-10 00:03] MitchellMarkGeorge commented on #15
Unfortunately, Chrome does not allow `ctrl + alt` in their keybindings. For now I implemented `ctrl/shift + shift + space` for Tab search and `alt/option + shift + space` for action search. If you have any spare time, please try them out and see if they produce any conflicts. On the Welcome page on install, I will make sure that the user knows of these shortcuts and give them the option to change

[2022-07-10 03:31] MitchellMarkGeorge commented on #9
@andrei-g-git sorry I did't see this before but I just implemented this if you want to take a look. I added the same welcome page as the options page of the extension and I has the commands on them so you use case might be handled. Nice thinking! 🎖️
<img width="1117" alt="Screen Shot 2022-07-09 at 11 31 30 PM" src="https://user-images.githubusercontent.com/49462407/178130163-157484d9-c03b-43d4-9a3

[2022-07-10 03:32] MitchellMarkGeorge commented on #6
Not a priority for beta, might move to 1.0

[2022-07-10 04:55] lodenrogue commented on #21
This is a great idea. Are there tests in place which can prove that existing functionality has not been broken once some refactoring has taken place? If not, that would be the first step.

[2022-07-10 07:48] andrei-g-git commented on #15
Hmm it looks like in chromium, on Windows, ``` alt + space ``` is the combo for opening a context menu on the browser's tab bar / frame. Pressing ``` alt + shift + space ``` also registers as that. I only tested this on Brave but google's docu lists those shortcuts too:

https://support.google.com/chrome/answer/157179?hl=en&co=GENIE.Platform%3DDesktop#zippy=

[2022-07-10 07:58] andrei-g-git commented on #15
Hmm it looks like in chromium, on Windows, ``` alt + space ``` is the combo for opening a context menu on the browser's tab bar / frame. Pressing ``` alt + shift + space ``` also registers as that (tested on Brave and Chrome).

https://support.google.com/chrome/answer/157179?hl=en&co=GENIE.Platform%3DDesktop#zippy=

[2022-07-10 08:16] andrei-g-git opened #22 "Tab search doesn't work on already opened pages right after install"
**Describe the bug**
After installing TabButler on Chrome or Brave, pressing ``` ctrl + shift + space ``` fails to open the tab search modal if done on a tab with an url that has already been open. The bug doesn't persist after loading another url in the same tab or another.

**To Reproduce**
1. Open chrome, if TabButler is installed, uninstall
2. Load a couple of websites (tested on wikipedia.org

[2022-07-10 13:26] MitchellMarkGeorge commented on #21
Currently there are no tests in the project right now (my bad) bit it is something would look into into. If you would like, you can start looking at that.

[2022-07-10 13:32] MitchellMarkGeorge commented on #22
@andrei-g-git I am aware of this issue and I have tried implementing a solution for this (might have to go a few commits back to see what I did ). Unfortunately my solution pretty much froze the entire browser when there were a lot of tabs (the reason the extension exists in the first place) 😫. I do have a few ideas of how to potentially improve it but on the welcome page right now we just tell th

[2022-07-10 13:37] #17 closed

[2022-07-10 13:38] MitchellMarkGeorge commented on #22
#10

[2022-07-10 17:25] MitchellMarkGeorge commented on #15
@andrei-g-git Hmmm I see 😩. Definitely need to see what other one we can use. Should we have a different one for Windows?

[2022-07-10 19:20] mohitkyadav commented on #15
I'd recommend using  `Cmd/Ctrl + Shift + Space` (default) for tabs and `Cmd/Ctrl + Shift + /` to toggle the action modal.

[2022-07-10 19:34] MitchellMarkGeorge commented on #15
@mohitkyadav unfortunately that seems to trigger the help menu item

[2022-07-10 19:38] mohitkyadav commented on #15
On my machine I may have remapped it at some point 😅. Users can anyway customise it so, we can leave it as it is until a solid alternative unveils itself.

[2022-07-10 19:39] MitchellMarkGeorge commented on #15
Wait @andrei-g-git did you test if the extension works with the current keybindings? If not let's test it out. I think it might be hard to find something that is exactly perfect/unused so If the user wants to change it they can change it to something they are comfortable with on install

[2022-07-10 19:42] MitchellMarkGeorge commented on #15
Exactly what I was thinking. I will leave this issue open for others to leave suggestions but lets start refocusing on other stuff for the beta. Thanks once again guys 🎖️

[2022-07-10 19:43] mohitkyadav commented on #21
I'd like to contribute on this if no one is already working on this. cc @lodenrogue @MitchellMarkGeorge

[2022-07-10 19:45] MitchellMarkGeorge commented on #22
In my previous solution, I tried using a normal `forEarch` loop, but apparently [they aren't very performant](https://love2dev.com/blog/javascript-for-loop-foreach/). I'll try again using the normal for loops and see if things are a bit better.

[2022-07-10 19:52] mohitkyadav commented on #7
@MitchellMarkGeorge I don't know why you changed the issue from chakra UI to html css 😅 . But I can contribute to the site and rewrite it with react and Chakra ui. Honestly I find this project really interesting and have some suggestions.

Also the launch date, is Aug 1 fixed or can you adjust that?

[2022-07-10 19:59] MitchellMarkGeorge commented on #21
@mohitkyadav if @lodenrogue doesn't mind go right ahead. Since this isn't a priority for beta, I would suggest that you develop this on a separate branch alongside main. Fortunately main should stay pretty stable for the next few weeks so you should be good to go 👍

[2022-07-10 20:04] MitchellMarkGeorge commented on #7
@mohitkyadav I changed it to simple HTML and CSS cause I thought it would be overkill for a simple landing page website. There is a version of if live [here](https://tabbutler.netlify.app/) if you want to check it out. I am definitely not the best at design and CSS so if you have any improvements you would like to make go right ahead (like responsiveness).

[2022-07-10 20:05] MitchellMarkGeorge commented on #7
@mohitkyadav In terms of the beta launch date, I wouldn't say it's cast in stone, but I definitely think it's possible to reach. The extension is in a pretty stable state right now and now it's really just looking for bugs and som UI fixes.

[2022-07-10 20:17] MitchellMarkGeorge opened #23 "Migrate to traditional for loops for performance boost"
**Is your feature request related to a problem? Please describe.**
This isn't really a feature but after doing some (investigation)[https://leanylabs.com/blog/js-forEach-map-reduce-vs-for-for_of/], I found that methods like `forEach` and `map` are pretty slow. I have noticed this is affecting things like on-install injection. This is really important as we are potentially dealing with  huge arrays

[2022-07-10 20:25] lodenrogue commented on #21
Since the first step is adding tests without changing the existing code the tests should be merged incrementally into the main branch. Otherwise, any fixes or changes happening in the rest of the code could make the tests fail and the effort would have been wasted.

[2022-07-10 20:26] lodenrogue commented on #21
I don't volunteer for adding tests. I was just giving some guidance on the approach

[2022-07-10 20:37] VladBrok commented on #23
Hello, I would like to contribute on this

[2022-07-10 20:40] MitchellMarkGeorge commented on #23
@VladBrok got right ahead! If you need any more context please reach out!

[2022-07-10 20:54] MitchellMarkGeorge opened #24 "Update CONTRIBUTING.md an provide more documentation"
As more people join the project, more people need to know how to contribute to the project effectively and how the extension is structured. This is something that is going to be done gradually over time as we figure things out.

[2022-07-10 21:15] MitchellMarkGeorge commented on #21
Agreed 👍

[2022-07-11 07:13] andrei-g-git commented on #15
@MitchellMarkGeorge yep, I tested it on Chrome, Brave and Firefox, latest versions. On chromium only ``` ctrl + shift + space ``` works on pages loaded after installing the extension, on firefox it doesn't seem to have any affect, while ``` alt + shift + space ``` opens a context menu on all browsers. But like I said, I'm running these on Windows 10

I just found a combo that works on all the brow

[2022-07-11 09:01] andrei-g-git opened #26 "Change webpack configuration to output separate dist folders for different browsers"
**Is your feature request related to a problem? Please describe.**
When testing builds for Chromium or Firefox, rebuilding the extension for either one or the other is needlessly time consuming, for example if you want to quickly test the behavior on all browsers, like key bindings, it would be nice if you could run a single start or build script that makes separate dist folders for chrome and fir

[2022-07-11 13:16] MitchellMarkGeorge commented on #26
@andrei-g-git This is a really interesting idea. I think you should definitely go for it and try and make it work. This change would also require you to update the dev instructions in the README.

[2022-07-11 13:17] MitchellMarkGeorge commented on #23
While #25 has been completed, I will leave this open for a bit in case we do some more work related to this.

[2022-07-11 13:28] MitchellMarkGeorge commented on #15
@andrei-g-git Thanks for testing this out. I had no idea that on Firefox it doesn't even trigger (although we might be missing some keys in the `manifest.json` that could be causing Firefox to error out). If you would like you can continue looking into this as this is important for the beta. From my understanding when using these keybindings they "should" override the default functionality (unless

[2022-07-11 13:59] MitchellMarkGeorge commented on #15
@andrei-g-git when you were testing on Firefox did you run (these steps)[https://extensionworkshop.com/documentation/develop/manifest-v3-migration-guide/]?

[2022-07-11 23:40] MitchellMarkGeorge opened #27 "Shortcut to repeat last executed action"
**Is your feature request related to a problem? Please describe.**
Inspired by Vim's `.` command, it would be cool to have a shortcut that allows the user to execute the last action they executed
**Describe the solution you'd like**
Essentially this would require the extension to record the index of the action that was executed, and when the shortcut is executed, the extension looks up the action

[2022-07-12 00:38] MitchellMarkGeorge opened #28 "Revamp actions"
**Is your feature request related to a problem? Please describe.**
Looking at the current actions that we have now, I noticed that a lot of them (like new tabs and new windows) can be done with already defined shortcuts. My initial idea for actions was to automate things that you would normally require you to use the mouse or require multiple keypresses. Down the line, my desire was for users to b

[2022-07-12 00:46] MitchellMarkGeorge opened #29 "Refactor Search compoenent data retreival for tab data and actions"
**Is your feature request related to a problem? Please describe.**
If you look at how the tab data and actions are fed into the modal currently, you might notice that the current implementation does not allow the React UI to handle errors in the data fetching. This should be solved by moving this logic to the Search component. As simple as this may seem, this holds some other implications as well

[2022-07-12 03:00] MitchellMarkGeorge commented on #16
Might not be needed because of #29

[2022-07-12 04:50] MitchellMarkGeorge commented on #19
Might default to Google Forms

[2022-07-12 07:42] andrei-g-git commented on #15
It does look like there will have to be different keybindings between the OSs. On windows ```alt+shift+r``` for search and ```alt+shift+k``` for tab actions worked on all the browsers I tested on. If you want to test other bindings give me a shout.

[2022-07-12 12:48] MitchellMarkGeorge opened #34 "Remove tab-butler-modal-body"
**Is your feature request related to a problem? Please describe.**
This body is technically not needed and can be moved to the React layer. Before it caused a janky "cold start" stuttering on first load.

**Describe the solution you'd like**
I would like to remove the `tab-butler-modal-body` element and create the equivalent in React instead

[2022-07-12 13:51] #34 closed

[2022-07-12 13:51] #7 closed

[2022-07-12 14:40] MitchellMarkGeorge opened #35 "Add Duplicate Tab Action"

[2022-07-12 14:54] MitchellMarkGeorge commented on #15
@andrei-g-git Ah this makes more sense. In terms with the extension overriding it, that isn't something we can handle explicitly. The best thing we can do is to encourage users to change it something they want. I'll add this to the welcome screen. In terms of the windows keybindings for the tab actions, we can use the `alt + shift + k` for that. But `ctrl + shift + space` should stay since we know

[2022-07-12 16:49] MitchellMarkGeorge commented on #8
Might just use a google forms

[2022-07-12 21:25] MitchellMarkGeorge commented on #9
@mohitkyadav We might need to make this in line with the look of the website... How do you feel about taking this on?

[2022-07-12 21:34] MitchellMarkGeorge opened #36 "Update UI for 1.0"
**Is your feature request related to a problem? Please describe.**
With the launch of 1.0. my goal is to make the extension feel more cohesive, simple, and generally in line with the user. That is why the UI will be updated with an added sidebar.
**Describe the solution you'd like**
The purpose of this sidebar is to allow users to access already available data more easily (like actions and tab dat

[2022-07-13 07:45] mohitkyadav commented on #9
@MitchellMarkGeorge this welcome page, can it be hosted on a remote url, let's say `https://tabbutler.netlify.app/<some_path>`?

Or is it strictly required from chrome extension side to be a static html page?

[2022-07-13 13:49] MitchellMarkGeorge commented on #9
@mohitkyadav I initally thought is should only be local but using a remote url should be fine 👍

[2022-07-13 16:25] #23 closed

[2022-07-13 20:29] MitchellMarkGeorge opened #37 "Site search"
As part of 1.0 (or further down the release calendar) it would we cool for users to search through different search engines and other sites (like stack overflow) directly from the extension.

[2022-07-13 21:53] MitchellMarkGeorge commented on #22
Currently working on this right now. Using the for loop seems to help but this requires host permissions to all urls that the user goes to. This might have to a sacrifice we will have to make to hace a food UX on install

[2022-07-13 21:54] #19 closed

[2022-07-13 22:34] MitchellMarkGeorge commented on #22
@andrei-g-git I was able to finish this up. Please feel free to try it out and give any feedback.

[2022-07-13 22:34] #22 closed

[2022-07-14 00:50] MitchellMarkGeorge commented on #37
Does this mean we should have two input fields (one for the search engine and one for the query)?

[2022-07-14 07:41] andrei-g-git commented on #22
Tried it, ```ctrl+shift+space``` works on chromium and firefox for me too now. Did turning the callback inside ``` onInstalled.addListener``` , ```async``` do it?

[2022-07-14 08:24] andrei-g-git commented on #37
IMO having both a web search input and a tab/action search input on the same modal would over complicate the existing search framework which, to me, looks like is based on pulling in predefined ```Action``` items or a predetermined collection of tabs and listing them below the input. Having a 3rd modal with 1 or more search inputs sounds more straight forward without radically revamping the framew

[2022-07-14 12:47] MitchellMarkGeorge commented on #37
@andrei-g-git agreed. with the sidebar shown in #36 I was thinking it would be a different SearchMode that can be triggered by the user (just like actions)

[2022-07-14 12:50] MitchellMarkGeorge commented on #22
@andrei-g-git Nope I pretty much just had to reimplement the whole thing with a native for loop.

[2022-07-14 15:15] MitchellMarkGeorge commented on #29
I will probably take some notes from the work I have currently done and update the component

[2022-07-15 20:59] #6 closed

[2022-07-16 06:17] MitchellMarkGeorge opened #40 "Add tab/shift + tab keyboard navigation"
Not really necessary but some people like using tab to navigate

[2022-07-17 10:53] andrei-g-git commented on #37
I sketched up something, tried to preserve the overall look of the extension:
![Web 1920 – 1 x](https://user-images.githubusercontent.com/77731047/179394745-0cc51cf4-4477-4be6-8003-3b76c472892f.png)

And I'm thinking it could have a feature to set the default borwser with a dropdown:

![Web 1920 – 2 x](https://user-images.githubusercontent.com/77731047/179394797-aa364d43-7727-4120-970d-9d707696623

[2022-07-17 13:24] #20 closed

[2022-07-17 13:27] MitchellMarkGeorge commented on #12
This feature has been implemented in a different branch but the UI needs to be confirmed.

[2022-07-17 13:30] #9 closed

[2022-07-17 13:31] MitchellMarkGeorge commented on #13
Might consider Svelte instead

[2022-07-17 13:46] #15 closed

[2022-07-17 13:46] #21 closed

[2022-07-17 18:41] MitchellMarkGeorge commented on #37
@andrei-g-git Thanks so much for the mockups! I really like the checkbox idea. It fits into an idea I had for the regular tab search and will fit in nicely. Right now I would say to put off on working on this as I want to implements a "feature freeze" because of the beta launch coming up in 2 weeks. Once the freeze is over, I definitely believe this is one of the first features we should tackle al

[2022-07-17 18:50] MitchellMarkGeorge commented on #40
This feature is not a priority for the beta and will be moved to 1.0

[2022-07-18 00:16] #12 closed

[2022-07-18 03:39] MitchellMarkGeorge opened #43 "Extension does not react to tab creation in another window"
**Describe the bug**
Similar to #14. During my testing, I found that if I had another window open and I created a new tab, the currently open tab search modal would not react accordingly. This is a new problem since the inclusion of #12 that we never had to address.

**To Reproduce**
Steps to reproduce the behavior:
1. Have two browser windows open with tabs in both
2. Have the tab search componen

[2022-07-18 03:45] MitchellMarkGeorge commented on #28
Just to clarify, the current actions will stay in place - the actions modal provides allows the user to do multiple actions from one shortcut that they would normally have t remember multiple shortcuts for.

[2022-07-18 04:19] MitchellMarkGeorge opened #44 "Add special windows keybindings"
#15

[2022-07-18 12:20] andrei-g-git commented on #37
Alrighty off to q/a then *cracks fingers*

[2022-07-18 14:06] andrei-g-git commented on #43
Hmm I've tested the new build on Chrome, Brave and Firefox and found that I can't replicate the bug on Windows, they look like they work fine, i.e. the tab count updates properly when I open and close new tabs in the other window or close the window outright, and it seems to work both ways, if I open a modal in the new window, it will register changes that happens in the original window even with

[2022-07-18 14:37] MitchellMarkGeorge commented on #43
Hmm thats odd. @andrei-g-git while you were testing did the active tab of the original window change at any point. The way I tested it was by having one window for each monitor (I run a dual monitor setup)

[2022-07-18 14:38] MitchellMarkGeorge commented on #13
This might be more important than expected as React currently makes up over 40% of the content script build and needs to come down in size

[2022-07-18 18:56] MitchellMarkGeorge opened #45 "Add Reload Tab action"
**Is your feature request related to a problem? Please describe.**
Add an action to reload the current tab

**Describe the solution you'd like**
Add an action to the `actions.ts` file, create a message in the `common/types.ts` file and handle it in the background script

**Describe alternatives you've considered**
N/A

[2022-07-18 19:08] MitchellMarkGeorge commented on #29
I was able to do this in [this branch](new-search-refactor) and might merge it in a few days

[2022-07-18 19:32] MitchellMarkGeorge commented on #8
Implemented uninstall form and feedback form

[2022-07-18 19:32] #8 closed

[2022-07-19 11:57] andrei-g-git commented on #43
No, it always comes back to the same tab, but I only have 1 monitor. If I could get my hands on a second hdmi cable I could hook it up to my tv (I'll see if I can scrounge one up from my nightmarishly tangled bag of wires :P)

[2022-07-19 19:18] MitchellMarkGeorge commented on #43
After some testing I think there is a chance that it could have just been a development error. I will leave the issue open for the time being until I can confirm why this happened

[2022-07-19 19:51] MitchellMarkGeorge commented on #15
@andrei-g-git I was finally able to implement this so feel free to take this for a spin

[2022-07-20 13:25] andrei-g-git commented on #15
Tested it, alt+shift+k works on chromium and firefox :+1:.

Unrelated thing, but something I noticed is that the welcome website's shortcut descriptions are static. Want me to tinker with ```WelcomePage.tsx ``` a bit in TabButlerWebsite and see of I can pull some data from the manifest commands into the html?

[2022-07-20 21:27] #44 closed

[2022-07-21 03:11] MitchellMarkGeorge commented on #13
<img width="3004" alt="Screen Shot 2022-07-18 at 8 19 24 AM" src="https://user-images.githubusercontent.com/49462407/180121827-6f0877f1-0472-4255-9e96-2f310c2dff90.png">

This is insane.

[2022-07-21 14:15] MitchellMarkGeorge opened #47 "Update currentSearchMode from inside Search component"
In the content script, there is a reference to the currentSearchMode that can be read from the background script. As part of #46 and #36, the user will be able to independently change the search mode, but this change won't be reflected in the `content.ts` file. To fix this, a function `updateSearchMode()` should be passed in as a prop and when the `currentSearchMode` in the Search component change

[2022-07-22 20:08] MitchellMarkGeorge opened #48 "Close duplicate tab action"
**Is your feature request related to a problem? Please describe.**
Add an action to close all duplicate tabs

**Describe the solution you'd like**
An action to close all duplicate tabs in the browser

**Describe alternatives you've considered**
N/A

**Additional context**
If you require any assistance, please feel free to reach out!

[2022-07-24 02:39] MitchellMarkGeorge commented on #43
Tested this again and it still persists (tested on the production/deployed version). This should be one of the first bugs to be fixed because it is quite noticeable.

[2022-07-24 02:49] MitchellMarkGeorge opened #51 "Allow users to view recent history items from the Search modal"
**Is your feature request related to a problem? Please describe.**
In line with #36, one of the features that is important for 1.0 is the ability to view and search their history right from the Search modal.

**Describe the solution you'd like**
Once #36 is done, there should be a section in the sidebar for history. A `SearchMode` should also be created for `HISTORY`. When the `currentSearchMode`

[2022-07-24 02:52] MitchellMarkGeorge opened #52 "Allow users to view their bookmarks in the Search modal"
**Is your feature request related to a problem? Please describe.**
In line with #36, one of the features that is important for 1.0 is the ability to view and search their bookmarks right from the Search modal (Similar to #51).

**Describe the solution you'd like**
Once #36 is done, there should be a section in the sidebar for history. A `SearchMode` should also be created for `BOOKMARKS`. When the

[2022-07-24 03:26] MitchellMarkGeorge opened #53 "Search modals sometimed don't show when triggered on GitHub"
**Describe the bug**
On both the development and deployed builds, on Github, I sometimes get the error "Autofocus processing was blocked because a document already has a focused element." (see screenshot below). This seems to cause the extension not to show when triggered.

**To Reproduce**
The problem is I don't even know how this even happens. It just happens randomly sometimes and I am unsure i

[2022-07-24 03:42] MitchellMarkGeorge commented on #53
Upon further inspection it seems to have something to do with GitHub's own command pallete and the same message is sometimes logged even when the Search Modal is not triggered. Will close this for now but will keep an eye out for this and how it could potentially affect us. It might still be a good idea to use a ref to focus the input on mount instead of using the autoFocus prop (need to confirm)

[2022-07-24 04:18] MitchellMarkGeorge commented on #53
Confirmed it ✅ . Need to switch to calling `.focus` instead.
<img width="598" alt="Screen Shot 2022-07-24 at 12 16 39 AM" src="https://user-images.githubusercontent.com/49462407/180631981-04736abb-0cd0-4bfe-b5fe-36c319e335ed.png">
<img width="1016" alt="Screen Shot 2022-07-24 at 12 16 06 AM" src="https://user-images.githubusercontent.com/49462407/180631985-1cecfa27-c3d0-48c7-b3a0-67fc500af711.png"

[2022-07-24 17:17] MitchellMarkGeorge opened #54 "Extension stops working after update"
**Describe the bug**
After the extension is updated, the extension no longer works on all the open pages. This is something that I experienced in development but did not think would affect production. This is because on update, the content script in those open tabs are "cut off" from the extension, and when you try to trigger it after the update, there is no content script to trigger the modal.

*

[2022-07-24 17:52] MitchellMarkGeorge commented on #54
The only problem with this is that the old content script will still be in the page and will not be fully unmounted (listeners will still be active).

[2022-07-24 19:39] #54 closed

[2022-07-25 00:17] MitchellMarkGeorge commented on #16
^

[2022-07-25 00:17] #16 closed

[2022-07-26 18:23] MitchellMarkGeorge opened #56 "Update Readme"

[2022-07-26 18:25] MitchellMarkGeorge opened #57 "Redo Checkbox using tutorial"
Currently the checkbox used in the BottomBar is styled using the `appearance` css property, but it is still pretty new and might not behave uniformly in all browsers. We could redo the checkbox using this tutorial https://youtu.be/LMir4WUdz6U

[2022-07-27 21:04] MitchellMarkGeorge opened #58 "Close other tabs action"
**Is your feature request related to a problem? Please describe.**
Add an action to add an action that can close all other tabs apart from the current one

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
If you need any help please feel free to reach out

[2022-07-28 17:37] MitchellMarkGeorge opened #61 "add Bookmark Tab action"
**Is your feature request related to a problem? Please describe.**
As the title suggests, we want to add an action to be able to bookmark the current tab

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
Ig you have any questions, feel free to reach out.

[2022-07-28 18:12] MitchellMarkGeorge opened #62 "Inform user of command conflicts"
**Is your feature request related to a problem? Please describe.**
According to the [chrome docs](https://developer.chrome.com/docs/extensions/reference/commands/#verify-commands-registered), if another installed extension's shortcuts interfere with our own, our shortcuts won't be registered, which will prevent users form triggering the Search modal, and they wonk know why.

**Describe the solutio

[2022-07-31 03:29] MitchellMarkGeorge commented on #14
related to #43

[2022-07-31 14:13] MitchellMarkGeorge opened #63 "Actions based on on install survey"
**Is your feature request related to a problem? Please describe.**
Part of the goal of Tab Butler is to cater to all the needs of the user, and each feature should reflect that.

**Describe the solution you'd like**
My idea was that on installation, a form could be shown asking the user what they do (like their profession) and other questions. Based on those answers, certain actions will automatic

[2022-08-01 02:37] #29 closed

[2022-08-02 14:42] MitchellMarkGeorge commented on #11
Do we need muting? The UI design for this seems a bit cluttered with 3 icons. Luckily we can delegate of of these aspects to an action (this will probably be tab muting)

Only two icons
<img width="665" alt="Screen Shot 2022-08-02 at 10 41 20 AM" src="https://user-images.githubusercontent.com/49462407/182402205-49065114-cf12-4426-8ba6-4aba8a7fcb96.png">

3 icons
<img width="652" alt="Screen Shot 2

[2022-08-02 14:42] MitchellMarkGeorge commented on #11
It is also important to note that these icons will only be shown when the tab is "selected" (also happens on mouseover)

[2022-08-02 14:48] MitchellMarkGeorge commented on #11
This is what the updated UI will like with the icons

2 icons
<img width="670" alt="Screen Shot 2022-08-02 at 10 47 53 AM" src="https://user-images.githubusercontent.com/49462407/182403735-3f1fae25-12fe-40f9-bb1d-d876acf11270.png">

3 icons
<img width="674" alt="Screen Shot 2022-08-02 at 10 48 31 AM" src="https://user-images.githubusercontent.com/49462407/182403891-341e13d1-8f3d-4f10-b0f4-d337a6d7

[2022-08-02 23:48] forteller opened #64 "Deprioritize search results after ? in URL"
Thanks for a really useful and great looking tool!

**Is your feature request related to a problem? Please describe.**

When I'm searching for something I'm likely to be looking for something in the title of the page or the main part of the URL. I might want to find words mentioned after a `?` in a URL, but that is much more unlikely. Especially since so many URLs nowadays include some tracking pa

[2022-08-02 23:59] forteller opened #65 "Open Download / Extension / Settings /History / Bookmarks does nothing"
**Describe the bug**
Selecting any of these from the Tab Action modal just closes the modal and otherwise doesn't seem to do anything.

**To Reproduce**
Steps to reproduce the behavior:

1. Press Shift + Alt + K to open the modal
3. Select any of the mentioned actions and press enter

**Expected behavior**
Something should open

**Platform Info (please complete the following information):**

- OS:

[2022-08-03 00:53] #14 closed

[2022-08-03 01:04] MitchellMarkGeorge commented on #65
@forteller Thanks for finding this bug. When I initially started work on this extension, I was only developing it for Chromium-based browsers. Because of that, when you try to execute those actions on Firefox, the extension would try and open a URL it has no access to. To fix this we'll need to conditional shoe the Firefox equivalent URLs.

[2022-08-03 01:05] MitchellMarkGeorge commented on #65
If you would like you can create a PR to fix this bug 👍

[2022-08-03 01:16] forteller commented on #65
I see. I don't know how to code, unfortunately, but here's the info I can find:

Download: Does not have a URL AFAIK, but opens in a separate window when pressing Ctrl + Shift + Y
Extension: Does this mean the list of installed extensions? If so it's about:addons
Settings: about:preferences
History: This can be opened in a sidebar (Ctrl+H) or a separate window (Ctrl + Shift + H)
Bookmarks: Sidebar

[2022-08-03 01:25] MitchellMarkGeorge commented on #65
Ahh I see. Thanks for letting me know! I'll take your suggestions into consideration 🎖️

[2022-08-03 01:32] forteller commented on #65
Until you're able to fix this I'd rather remove it from the Firefox version, to not create confusion. Personally I don't really see the use for this at all, so I wouldn't mind just removing it permanently, but at the same time feature parity for both browsers is really important, and I'm sure you had your reason for adding this in the first place :)

[2022-08-03 01:39] forteller opened #67 "Decouple size from page zoom"
**Is your feature request related to a problem? Please describe.**
I often have different zoom level on different tabs, according to which level makes the text on that page comfortable for me to read. Some times I zoom in a lot. Then it's quite jarring to open Tab Butler and having it huge on one tab and small on another. I'd like it to be consistent across all tabs.

**Describe the solution you'd

[2022-08-03 03:54] #62 closed

[2022-08-03 03:56] MitchellMarkGeorge commented on #65
Yea a lot of the current actions themselves are going to be revamped, and part of our plan for the full release is to be able to search through your history/bookmarks right from the Search Modal.

[2022-08-03 14:46] MitchellMarkGeorge commented on #65
Based on this bug and with #36 being developed, the best course of action would be to remove those actions.

[2022-08-04 14:12] MitchellMarkGeorge opened #70 "Filter based on TabData properties like muted, audible, pinned etc"
**Is your feature request related to a problem? Please describe.**
The purpose of this feature would be to allow users to fund tabs based on a certain property. For example, if a user wants to find all the tabs that are playing audio, they should type ":audible" in the search input to get their result.

**Additional context**
This is defiantly not a priority and is more of an idea than an actually

[2022-08-05 18:56] #11 closed

[2022-08-05 19:01] MitchellMarkGeorge commented on #53
After changing the injection strategy in #69, this issue seems to have subsided. However, we should still replace the autofocus on the input field.

[2022-08-05 19:37] MitchellMarkGeorge commented on #67
Thanks for submitting this issue. Unfortunately, this might not be entirely possible as zoom settings depend greatly on the settings set by the browser and the website that we inject the Tab Butler modal into, and it is better not to mess with any of those. I will continue searching for a potential solution but for now, this won't be worked on.

[2022-08-05 19:38] #67 closed

[2022-08-05 19:40] MitchellMarkGeorge commented on #43
Closed with #66

[2022-08-05 19:40] #43 closed

[2022-08-05 22:31] forteller commented on #70
Cool idea! Another property that would be nice is every tab that has a video, or has something that potentially can make sound, no matter if it's currently playing or not :)

[2022-08-06 18:57] #13 closed

[2022-08-06 19:46] #40 closed

[2022-08-11 03:05] MitchellMarkGeorge commented on #65
<img width="878" alt="Screen Shot 2022-08-10 at 11 01 50 PM" src="https://user-images.githubusercontent.com/49462407/184058144-3efa61bc-74dd-4fe8-9fb6-b0fc1f9a68bd.png">

Even trying to open the extension and setting URLs proved difficult 🤦 . I'll just remove them.

[2022-08-11 03:10] #65 closed

[2022-08-14 02:46] #53 closed

[2022-08-14 03:59] MitchellMarkGeorge opened #77 "Old content script not orpahned on update"
**Describe the bug**
This issue seems to happen mainly in production. When the extension updates, the idea is that the old content script should be cut off and can't receive any messages from the background script while a new content script is injected with the new code. While this seems to work in development (with the occasional hiccup), this does not seem to be the case in production. Sometimes

[2022-08-15 01:36] MitchellMarkGeorge commented on #77
The problem with this is that if the script is not injected into the currently open tabs, no new tabs with the updated content script can communicate with them. This affects the ability of the search modal to stay up to date with what is happening. Due to this, I might revert back to the old behavior for the time being.

[2022-08-15 02:37] MitchellMarkGeorge commented on #77
It seems that while Chromium-based browsers like Brave and Chrome disable communication with old content scripts, Firefox does not seem to do the same. The solutions now are to either find a way to manually disable all content scripts on update or just don't re-inject the extension on update. Right now the latter seems to be the best one to do. It would still be preferable if we could delay the ex

[2022-08-15 02:47] MitchellMarkGeorge commented on #77
https://stackoverflow.com/questions/39124570/chrome-extension-update-flow

[2022-08-15 03:55] MitchellMarkGeorge commented on #77
Might be resolved in the lase commit, need to do more testing.

[2022-08-15 17:27] forteller opened #78 "Closing TabButler while on a GitHub issues page jumps the page to almost the top"
**Describe the bug**
See title. Closing by pressing Esc og clicking gives same result

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a list of issues on Github, like https://github.com/MitchellMarkGeorge/TabButler/issues or https://github.com/AntennaPod/AntennaPod/issues
2. Scroll down a bit
3. Open TabButler
4. Close TabButler

**Expected behavior**
TB should just close, like on oth

[2022-08-15 17:41] forteller opened #79 "Does not work on some instances of Mastodon"
**Describe the bug**
Does not work at all, except showing the number of tabs and searching, without actually show any search results. See screenshot.

This happens on the following instances of Mastodon:
https://todon.nl/
https://linuxrocks.online/
https://octodon.social

But not on:
https://toot.kuba-orlik.name/

These are just the ones I've checked.

What the ones where the bug is present have i

[2022-08-15 23:27] MitchellMarkGeorge commented on #36
Due to some code changes, this will be downgraded to M

[2022-08-17 02:40] #70 closed

[2022-08-20 01:34] MitchellMarkGeorge commented on #78
Hmm that seems odd, I tried reproducing this issue on my setup but was unable to do so. Some further testing would be required to see what causes this for you.

[2022-08-20 04:30] MitchellMarkGeorge opened #81 "Add a sort tabs action"
See title

[2022-08-21 22:10] #77 closed

[2022-08-21 22:11] MitchellMarkGeorge commented on #78
I was finally able to reproduce this issue and I am investigating it now.

[2022-08-23 20:40] #48 closed

[2022-08-23 21:08] #58 closed

[2022-08-23 21:14] MitchellMarkGeorge commented on #36
Fully implemented, pushing back for release 3.

[2022-08-31 14:50] #56 closed

[2022-09-01 04:10] #64 closed

[2022-09-01 04:10] MitchellMarkGeorge commented on #52
For the list items, use `FcBookmark` for the icons

[2022-09-08 18:03] #51 closed